@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=fallback');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*resetar o css para ficar melhor encaixado*/
}
body {
  font-family: 'Open Sans', sans-serif;
}
.container {
  display: flex; /* colocar inline*/
  justify-content: center;
  align-items: center;
  height: 100vh; /* altura relacionada ao viewport, poderia ser feita também adicionar 100% height ao body e ao html */
  background-color: gray;
}
.content {
  border-radius: 15px; /* borda arredondada */
  background-color: #fff;
  width: 960px;
  height: 50%;
  justify-content: space-between; /*espaço entre a primeira coluna e a segunda coluna*/
  align-items: center;
  position: relative; /* para o pseudo-element não extrapolar a tela */
}
.content::before {
  /* uma das formas de colocar a cor */
  content: '';
  position: absolute;
  background-color: #e66960;
  width: 40%;
  height: 100%; /* o motivo do position relative */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0%;
}
.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}
.title-primary {
  color: #fff;
}
.title-second {
  color: #e66960;
}
.description {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
}
.description-primary {
  color: #fff;
}
.description-second {
  color: #7f8c8d;
}
.btn {
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 50px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border-width: 0;
  margin-top: 5px;
}
.btn-primary {
  background-color: transparent;
  border: 1px solid #fff;
  transition: background-color 0.5s;
}
.btn-primary:hover {
  background-color: #fff;
  color: #e66960;
}
.btn-second {
  background-color: #e66960;
  border: 1px solid #fff;
  transition: background-color 0.5s;
}
.btn-second:hover {
  background-color: #fff;
  color: #e66960;
  border: 1px solid #e66960;
}
.first-content {
  display: flex;
}
.first-content .second-column {
  z-index: 12;
}
.first-column {
  text-align: center;
  width: 40%;
  z-index: 2;
}
.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media {
  margin: 1rem 0;
}
.link-social-media .item-social-media {
  transition: background-color 0.5s;
}
.link-social-media:hover .item-social-media {
  background-color: #e66960;
  color: #fff;
  border-color: #e66960;
}
.list-social-media {
  display: flex;
  list-style-type: none;
}
.item-social-media {
  border: 1px solid #bdc3c7;
  border-radius: 50%; /* abaixo daqui, é tudo pro círculo perfeito */
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #95a5a6;
}
.link-social-media:not(:first-child) {
  margin-left: 10px;
}
.form {
  display: flex;
  flex-direction: column; /* deixar o formulário em coluna */
  width: 55%;
}

.form input {
  width: 100%;
  height: 45px;
  border: none;
  background-color: #ecf0f1;
}
.label-input {
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
  margin: 8px;
}
.icon-modify {
  color: #7f8c8d;
  padding: 0 8px;
}

/* second content */

.second-content {
  position: absolute; /* sobreposição */
  display: flex;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}
.second-content .second-column {
  order: 1;
  z-index: -1;
}
.password {
  color: #34495e;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}
.password::first-letter {
  text-transform: capitalize;
}
.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
  z-index: -1;
}
.sign-in-js .second-content .first-column {
  z-index: 14;
}
.sign-in-js .second-content .second-column {
  z-index: 12;
}
.sign-in-js .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1s;
  z-index: 13;
}
.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
  z-index: -1;
}
.sign-up-js .first-content .first-column {
  z-index: 14;
}
.sign-up-js .first-content .second-column {
  z-index: 12;
}

.sign-up-js .content::before {
  animation: slideout 1s;
  z-index: 13;
}

/* Animação CSS */
@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 15%;
    width: 50%;
  }

  50% {
    left: 30%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 30%;
    width: 60%;
  }

  75% {
    left: 15%;
    width: 50%;
  }

  to {
    left: 0%;
    width: 40%;
  }
}
